@tailwind base;
@tailwind components;
@tailwind utilities;
* {
   margin: 0;
   padding: 0;
   font-family: "poppins", sans-serif;
   box-sizing: border-box;
}

.grd-ico {
   stroke: rgb(255, 118, 44);
}
h1 {
   font-weight: 400;
   font-size: 27px;
   @apply text-black;
}
.para {
   color: rgb(118, 113, 113);
   font-size: 15px;
}
.cus-gray {
   color: rgb(141, 141, 141);
}
.grd {
   background: -webkit-linear-gradient(
      45deg,
      rgb(255, 70, 111),
      rgb(255, 118, 44)
   );
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.s-sh {
   box-shadow: 0 2px 5px 4px rgba(0, 0, 0, 0.041);
}
body {
   @apply antialiased;
   width: 100%;
   height: 100%;
}
.cus-shad {
   box-shadow: 0 3px 9px 4px rgba(0, 0, 0, 0.051);
}
.cus-shad2 {
   box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.061);
}
.sam-shad {
   box-shadow: 0 2px 6px 4px rgba(0, 0, 0, 0.031);
}
.bg {
   background: #f9f9f9;
}
.bg-grd {
   background: -webkit-linear-gradient(
      45deg,
      rgb(255, 70, 111),
      rgb(255, 118, 44)
   );
}
h2 {
   font-weight: 550;
   font-size: 18px;
}
@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;

      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;

      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;

      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;

      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;

      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;

      --radius: 0.5rem;
   }

   .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
   }
}

@layer base {
   * {
      @apply border-border;
   }
}
.sidebar {
   width: 250px !important;
   position: fixed;
   top: 0;
   left: 0;
   overflow: auto;
   min-height: 100vh;
}
h3 {
   font-weight: 550;
   font-size: 17px;
   color: rgb(53, 53, 53);
}

.b-para {
   font-size: 18px;
   color: black;
}
h4 {
   font-weight: 500;
   color: black;
   font-size: 17px;
}
.succ {
   background: -webkit-linear-gradient(
      45deg,
      rgb(112, 165, 55),
      rgb(170, 255, 80)
   );
   color: #fff;
   padding: 3px 35px;
   border-radius: 50px;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.041);
}

.sm-para {
   font-size: 15px;
}

.non {
   background: -webkit-linear-gradient(
      45deg,
      rgb(157, 28, 57),
      rgb(255, 56, 103)
   );
   color: #fff;
   padding: 3px 35px;
   border-radius: 50px;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.041);
}
.red-grd {
   background: -webkit-linear-gradient(
      45deg,
      rgb(157, 28, 57),
      rgb(255, 56, 103)
   );
}
input::placeholder {
   color: rgb(118, 113, 113);
}
textarea::placeholder {
   color: rgb(118, 113, 113);
}
.green {
   background: -webkit-linear-gradient(
      45deg,
      rgb(112, 165, 55),
      rgb(170, 255, 80)
   );
   color: #fff;
   border-radius: 50px;
   @apply cus-shad p-2 py-[10px];
}
.bg-green {
   background: -webkit-linear-gradient(
      45deg,
      rgb(112, 165, 55),
      rgb(170, 255, 80)
   );
}
.btn-grd {
   @apply bg-grd text-white drop-shadow-md p-2 py-[10px];
   border-radius: 50px;
}
html {
   @apply antialiased;
}
button {
   @apply hover:saturate-150 transition-all;
}
